@* @{
    ViewData["Title"] = "FAQ";
}


  
<div class="faq_7" unique-script-id="w-w-dm-id">
    <div class="responsive-container-block">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-5 faq-head-bg" id="imgk">
            <div class="faq-head-content">
                <p class="text-blk faq-heading1">
                    How can we help you?
                </p>
                <p class="text-blk faq-subheading">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim sit commodo nisl faucibus felis amet
                </p>
            </div>
        </div>
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-7 faq-dropdown-bg" id="imiw">
            <div class="container-block" id="iwk5t">
                <div class="faq">
                    <span class="faq-question-container">
                        <p class="text-blk faq-questions">
                            Lorem ipsum dolor sit amet?
                        </p>
                        <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg">
                    </span>
                    <div class="answer-box">
                        <p class="text-blk faq-answer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <span class="faq-question-container">
                        <p class="text-blk faq-questions">
                            Lorem ipsum dolor sit amet?
                        </p>
                        <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg">
                    </span>
                    <div class="answer-box">
                        <p class="text-blk faq-answer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <span class="faq-question-container">
                        <p class="text-blk faq-questions">
                            Lorem ipsum dolor sit amet?
                        </p>
                        <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg">
                    </span>
                    <div class="answer-box">
                        <p class="text-blk faq-answer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <span class="faq-question-container">
                        <p class="text-blk faq-questions">
                            Lorem ipsum dolor sit amet?
                        </p>
                        <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg">
                    </span>
                    <div class="answer-box">
                        <p class="text-blk faq-answer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="faq">
                    <span class="faq-question-container">
                        <p class="text-blk faq-questions">
                            Lorem ipsum dolor sit amet?
                        </p>
                        <img class="openimg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/arrow.svg">
                    </span>
                    <div class="answer-box">
                        <p class="text-blk faq-answer">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

<script>
    $(document).ready(function()
    {
      let faqQuestionContainers = document.querySelectorAll(`[unique-script-id="w-w-dm-id"] .faq-question-container`);

      faqQuestionContainers.forEach(function(faqQuestionContainer) {
        faqQuestionContainer.onclick = function() {
          this.parentElement.classList.toggle("active");
        };
      });
    })
</script>



 *@