@model ONT_PROJECT.Models.PrescriptionLine

@{
    ViewData["Title"] = "Edit Prescription";
    Layout = "_CustomerLayout";
}


<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-dark">
        <i class="bi bi-hospital me-2 text-primary"></i> Edit Doctor
    </h2>
</div>


<hr style="height: 4px; background-color: #011425; border: none;" />


<div class="alert alert-info shadow-sm d-flex align-items-center gap-2">
    <i class="bi bi-info-circle-fill"></i>
    Please update the details below. Fields marked with <span class="text-danger">*</span> are required.
</div>


<div class="card shadow p-4">
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">

          

            <div class="row mb-4">
                <div class="mb-3">
                    <label asp-for="MedicineId" class="form-label">Medication <span class="text-danger">*</span></label>
                    <select asp-for="MedicineId" asp-items="ViewBag.Medicines" class="form-select">
                        <option value="">-- Select Medication --</option>
                    </select>
                    <span asp-validation-for="MedicineId" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Quantity" class="form-label">Quantity <span class="text-danger">*</span></label>
                    <input asp-for="Quantity" class="form-control" placeholder="e.g., 10" />
                    <span asp-validation-for="Quantity" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <label asp-for="Instructions" class="form-label">Intsruction <span class="text-danger">*</span></label>
                    <input asp-for="Instructions" class="form-control" placeholder="." />
                    <span asp-validation-for="Instructions" class="text-danger small"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Repeats" class="form-label">Total Repeats <span class="text-danger">*</span></label>
                    <input asp-for="Repeats" class="form-control" placeholder="e.g., 10" />
                    <span asp-validation-for="Repeats" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <label asp-for="RepeatsLeft" class="form-label">Repeats Left <span class="text-danger">*</span></label>
                    <input asp-for="RepeatsLeft" class="form-control" placeholder="e.g., 10" />
                    <span asp-validation-for="RepeatsLeft" class="text-danger small"></span>
                </div>
            </div>


            <div class="d-flex justify-content-between mt-4">
                <a href="/CustomerPrescriptionLine/Index" class="btn btn-primary">
                    <i class="bi bi-arrow-left"></i> Back
                </a>

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-1"></i> Update
                </button>
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
