@{
    ViewData["Title"] = "Manage Users";
    Layout = "PharmacistLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-dark">
        <i class="bi bi-hospital me-2 text-primary"></i> Process Status
    </h2>
</div>

<div class="accordion-body">
    <p><strong>Order No:</strong> 0011</p>
    <p><strong>Customer Name:</strong> Londan</p>
    <p><strong>Medication:</strong> Metformin</p>
    <p><strong>Date:</strong> 2025-05-01</p>
    <p><strong>Quantity:</strong> 2</p>
    <p><strong>Repeats:</strong> 1</p>
    <p><strong>Repeats Left:</strong> 2</p>
    <p><strong>Total Due:</strong> R234,00</p>   
    <p>
        <strong>Status:</strong>
        <div class="col-md-6">
        <select for="Status" class="form-select">
            <option value="" selected>Processed</option>
            <option value="Mr.">Dispensed</option>
            <option value="Mrs.">Placed</option>
            <option value="Miss">Collected</option>
          
        </select>
        </div>
    </p>

    <div class="d-flex justify-content-between">
        <a asp-action="ViewPrescription" asp-controller="Pharmacist" asp-route-id="1" class="btn btn-primary btn-sm">
            <i class="bi bi-arrow-left"></i>Back
        </a>
        <a asp-action="ViewPrescription" asp-controller="Pharmacist" class="btn btn-success btn-sm">
            <i class="bi bi-save me-1"></i> Save
        </a>
    </div>
</div>