@model ONT_PROJECT.Models.Pharmacy

@{
    ViewData["Title"] = "Manage Medication";
    Layout = "_ManagerLayout";
}

<h2 class="mb-4">Manage Medication</h2>
<hr style="height: 5px; background-color: #011425; border: none;" />
<br />
<a asp-action="Create" asp-controller="Medicine" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle"></i> Add Medicine
</a>