@model IEnumerable<ONT_PROJECT.Models.Supplier>
@{
    ViewData["Title"] = "Supplier";
    Layout = "_ManagerLayout";
}

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Supplier List</h2>
        <a asp-action="Create" asp-controller="Supplier" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add Supplier
        </a>
    </div>
    <hr style="height: 5px; background-color: #011425; border: none;" />
</div>


<div class="accordion" id="supplierAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                MediCare Ltd
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong> 073 123 7543</p>
                <p><strong>Email:</strong> MediCareLtd@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="1" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="1" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Pharma Tech
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong> 073 735 3432</p>
                <p><strong>Email:</strong> PharmaTech@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="2" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="2" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Global Drugs
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong> 087 345 6789</p>
                <p><strong>Email:</strong> globaldrugs@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="3" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="3" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Health Corp
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong>087 456 7890</p>
                <p><strong>Email:</strong>healthcorp@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="4" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="4" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Omphile Sefantsi
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong>075 567 8901</p>
                <p><strong>Email:</strong> omphilesefantsi@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="5" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="5" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Tebello Thwala
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong>087 678 9012</p>
                <p><strong>Email:</strong> tebellothwala@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="6" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="6" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Siyabonga Myeki
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#supplierAccordion">
            <div class="accordion-body">
                <p><strong>Contact Number:</strong>097 583 9573</p>
                <p><strong>Email:</strong> siyabongamyeki@gmail.com</p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="7" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="7" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
